<section>
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Full-Stack JavaScript
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>JavaScript</li>
                <li>React JS</li>
                <li>Angular</li>
                <li>Node JS</li>
                <li>Express JS</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    DevOps
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>Docker</li>
                <li>Kubernetes</li>
                <li>Vagrant</li>
                <li>Terraform / Cloud</li>
                <li>GitHub</li>
                <li>Bitbucket</li>
                <li>GitLab</li>
                <li>Bash</li>
                <li>Linux</li>
                <li>AWS</li>
                <li>Jelastic Cloud</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Dtaabase
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>MySQL</li>
                <li>MongoDB</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Other
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>HTML 5</li>
                <li>CSS3</li>
                <li>PHP</li>
                <li>Java</li>
                <li>REST</li>
                <li>GraphQL</li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
</section>