<section>

    <mat-card class="card" *ngFor="let project of projects">
        <img mat-card-image src="{{project.coverImage}}">
        <mat-card-content>
            <h1>{{project.name}}</h1>
        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-chip-list class="chip">
            <mat-chip class="box" *ngFor="let t of project.tags">{{t}}</mat-chip>
        </mat-chip-list>

        <mat-divider></mat-divider>

        <mat-card-actions>
            <a mat-button href="{{project.github}}" target="_blank" matTooltip="Source code">
                <mat-icon>code</mat-icon>
            </a>
            <a mat-button href="{{project.demo}}" target="_blank" matTooltip="Live demo">
                <mat-icon>language</mat-icon>
            </a>
            <a mat-button routerLink="{{project.readmore}}" matTooltip="Read more">
                <mat-icon>read_more</mat-icon>
            </a>
        </mat-card-actions>

    </mat-card>
</section>