section{
    width: 1000px;
    height: 100%;
    border-left: 1px solid grey;
    padding-left: 2rem;
    mat-tab-group{
        width: 100%;
        mat-tab{
            padding: 1rem;
        }
    }
}