<section id="left-panel">
    <img src="https://avatars.githubusercontent.com/u/49798649?v=4" alt="headShot">
    <h1>Aymen Khedhriya</h1>
    <h3>@aymkh</h3>

    <section>
        <p>Get in touch</p>

        <nav>
            <a href="#" mat-raised-button>Email</a>
            <a href="#" mat-raised-button>LinkedIn</a>
            <a href="#" mat-raised-button>GitHub</a>
            <a href="#" mat-raised-button>Facebook</a>
            <a href="#" mat-raised-button>Instagram</a>
        </nav>
    </section>
</section>