<section id="left-panel">
    <img src="https://avatars.githubusercontent.com/u/49798649?v=4" alt="headShot">
    <h1>Aymen Khedhriya</h1>
    <h3>@aymkh</h3>

    <section>
        <p>Get in touch</p>

        <nav>
            <a target="_blank" href="maito:yo@aymkh.tn" mat-raised-button>Email</a>
            <a target="_blank" href="https://www.linkedin.com/in/aymkh/" mat-raised-button>LinkedIn</a>
            <a target="_blank" href="https://github.com/aymkh" mat-raised-button>GitHub</a>
            <a target="_blank" href="https://www.instagram.com/__aymkh/" mat-raised-button>Instagram</a>
        </nav>
    </section>
</section>