#left-panel{
    width: 350px;
    margin-right: 1rem;
    text-align: center;
    img{
        width: 200px;
        border-radius: 50%;
        border: 1px solid grey;
    }
    h1{
        font-size: 2rem;
        margin-top: 2rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        text-align: left;
    }
    h3{
        color: grey;
        text-align: left;
    }
    p{
        font-size: 1rem;
        text-align: left;
    }

    nav{
        display: flex;
        flex-direction: column;
        a{
            font-size: 1rem;
            margin-top: 1rem;
        }
    }
}